transformers==4.51.0
torch==2.2.0
sentencepiece==0.2.0
sacremoses==0.1.1
streamlit==1.45.1
numpy==1.26.4
gTTS==2.5.1
PyPDF2==3.0.1
matplotlib==3.8.4
wordcloud==1.9.3
Pillow==10.3.0
pyttsx3==2.90
graphviz==0.20.3
